<!DOCTYPE html>
<html lang="en">
<head>
    <title>Base Page</title>
	<meta charset="utf-8" />

	<meta name="viewport"
		content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Home Page</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="#">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Course</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Job Portal</a>
		</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		<input
			class="form-control mr-sm-2"
			type="search"
			placeholder="Search"
			aria-label="Search"/>
		<button class="btn btn-light my-2 my-sm-0"
				type="submit">
			Search
		</button>
		</form>
	</div>
	</nav>
</body>
</html>


{% block content %}

{% endblock %}